<header class="header-area">
  <div class="header-top">
    <div class="container">
      <div
        class="header-top-wrapper d-flex flex-wrap justify-content-sm-between"
      >
        <div class="header-top-left mt-10">
          <div class="header-logo">
            <a href="/">
              <img
                src="/assets/images/logo/logo.png"
                alt="Official logo of Modern Jazz"
              />
            </a>
          </div>
        </div>
        <div class="header-top-right mt-20">
          <div class="header-link">
            <a class="notice" href="/course/page1"> <i class="far fa-graduation-cap" style="font-size: 1.2em;"></i> All Courses</a>
            <a class="register" href="/logout">
            <i class="far fa-user" style="font-size: 1.2em;" ></i> Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

