
    <!--====== Newsletter Start ======-->

    <section id="newsletter" class="newsletter-area">
      <div class="container">
        <div
          class="newsletter-wrapper bg_cover wow zoomIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
          style="background-image: url(assets/images/newsletter-bg-1.jpg);"
        >
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="section-title-2 mt-25">
                <h2 class="title">Subscribe our Newsletter</h2>
                <span class="line"></span>
                <p>
                  Get amazing content that would help build your music craft.
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="newsletter-form mt-30">
                <form action="/newsletter" method="post">
                  <input type="email" name="email" placeholder="Enter your email here" required />
                  <button class="main-btn main-btn-2">Subscribe now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== Newsletter Ends ======-->

    <!--====== Footer Start ======-->

    <section
      class="footer-area bg_cover"
      style="background-image: url(assets/images/counter-bg.jpg);"
    >
      <div class="footer-widget">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer-link mt-45">
                <h4 class="footer-title">Information</h4>
                <ul class="link-list">
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Terms and Condition</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-link mt-45">
                <h4 class="footer-title">Quick Links</h4>
                <ul class="link-list">
                  <li>
                    <a href="our-courses-left-sidebar">All Courses</a>
                  </li>
                  <li><a href="blog-left-sidebar">Blog post</a></li>
                  <li><a href="event">Contact Us</a></li>
                  <li><a href="faq">FAQs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-link mt-45">
                <h4 class="footer-title">Socials</h4>
                <ul class="link-list">
                  <li>
                    <a
                      target="_blank"
                      href="https://www.facebook.com/modernjazzwithnoels/"
                    >
                      <i class="fab fa-facebook-f"></i>
                      Facebok
                    </a>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://instagram.com/modern_jazz_with_noels?utm_medium=copy_link"
                    >
                      <i class="fab fa-instagram"></i>
                      Instagram
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                      LinkedIn
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                      Twitter
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-link mt-45">
                <h4 class="footer-title">Contact Info</h4>
                <ul class="link-list">
                  <li>
                    <p>
                      Lekki Lagos, Nigeria.
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="tel:+2348143958001">
                        <i class="fal fa-phone"></i>
                        +234 08143958001
                      </a>
                    </p>
                    <p>
                      <a href="https://wa.me/+2348143958001/?text=">
                        <i class="fab fa-whatsapp"></i>
                        +234 814 395 8001
                      </a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="mailto://modernjazzwithnoels@gmail.com">
                        modernjazzwithnoels@gmail.com
                      </a>
                    </p>
                    <p></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="copyright text-center">
            <p>
              &copy; 2021
              <span>Modern Jazz With Noels</span>
              Made with
              <i class="fa fa-heart"></i>
              by
              <a href="#">NobTech</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--====== Footer Ends ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="fal fa-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->

    <!--====== Start ======-->

    <!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== Ends ======-->

    <!--====== Jquery js ======-->
    <script src="./assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="./assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== All Plugins js ======-->
    <script src="./assets/js/plugins/popper.min.js"></script>
    <script src="./assets/js/plugins/bootstrap.min.js"></script>
    <script src="./assets/js/plugins/slick.min.js"></script>
    <script src="./assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="./assets/js/plugins/jquery.appear.min.js"></script>
    <script src="./assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="./assets/js/plugins/wow.min.js"></script>
    <script src="./assets/js/plugins/ajax-contact.js"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <!-- <script src="./assets/js/plugin.min.js"></script> -->

    <!--====== Main Activation  js ======-->
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/index.js"></script>
