  <head>
    <meta charset="utf-8" />

    <!--====== Title ======-->
    <title>Modern Jazz | Home</title>

    <meta
      name="description"
      content="Modern jazz with Noels is an online music brand that offers professional courses to musicians of all levels with the objective of achieving a stepwise transitioning from a zero level to a hero level."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--====== Favicon Icon ======-->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon/favicon-16x16.png"
    />

    <!-- CSS
    ============================================ -->

    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css" />
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    /> -->
    
    <link rel="stylesheet" href="/assets/css/plugins/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/default.css" />

    <!--===== Plugins CSS (All Plugins Files) =====-->
    <link rel="stylesheet" href="/assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="/assets/css/plugins/slick.css" />
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css" />

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

  </head>