<header class="header-area">
  <div class="header-top">
    <div class="container">
      <div
        class="header-top-wrapper d-flex flex-wrap justify-content-sm-between"
      >
        <div class="header-top-left mt-10">
          <ul class="header-meta">
            <li>
              <a href="mailto://modernjazzwithnoels@gmail.com">
                modernjazzwithnoels@gmail.com
              </a>
            </li>
          </ul>
        </div>
        <div class="header-top-right mt-10">
          <div class="header-link">
            <a class="notice" href="./notice">Notice</a>
            <a class="login" href="./login">Login</a>
            <a class="register" href="./register">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="navigation" class="navigation navigation-landscape">
    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="header-logo">
            <a href="index">
              <img
                src="./assets/images/logo/logo1.png"
                alt="Official logo of Modern Jazz"
              />
            </a>
          </div>
        </div>
        <div class="col-lg-7 position-static">
          <div class="nav-toggle"></div>
          <nav class="nav-menus-wrapper">
            <ul class="nav-menu">
              <li>
                <a href="/">Home</a>
                <!-- <ul class="nav-dropdown nav-submenu">
                      <li><a href="index">Home 01</a></li>
                      <li><a class="active" href="index-2">Home 02</a></li>
                      <li><a href="index-3">Home 03</a></li>
                    </ul> -->
              </li>

              <li><a href="/about">About</a></li>
              <li>
                <a href="#">Courses</a>
                <ul class="nav-dropdown nav-submenu">
                  <li>
                    <a href="#">You Too can Play #1</a>
                    <ul class="nav-dropdown nav-submenu">
                      <li>
                        <a href="/course">80 solo techniques</a>
                        <ul class="nav-dropdown nav-submenu">
                          <li><a href="course">Intervals</a></li>
                          <li><a href="course">Jazz chords</a></li>
                          <li><a href="course">The art of soloing 1</a></li>
                          <li>
                            <a href="our-courses-left-sidebar">
                              The art of soloing 2
                            </a>
                          </li>
                          <li>
                            <a href="our-courses-right-sidebar">
                              The art of soloing 3
                            </a>
                          </li>
                          <li><a href="our-courses">The art of soloing 4</a></li>
                          <li><a href="our-courses-2">Modern music band setup</a></li>
                          <li><a href="our-courses-3">22 modern music skills monetization</a></li>
                          <li><a href="our-courses-3">The legalities of 20th century music</a></li>
                        </ul>
                      </li>
                      <li><a href="our-courses-2">A Day With The Masters</a></li>
                      <li><a href="our-courses-3">250 chord voicings</a></li>
                      <li>
                        <a href="our-courses-left-sidebar">
                          Music performance mastery
                        </a>
                      </li>
                      <li>
                        <a href="our-courses-right-sidebar">
                          The depth of hearing music
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">You Too Can Play #2</a>
                    <ul class="nav-dropdown nav-submenu">
                      <li>
                        <a href="our-courses-list">Courses List</a>
                      </li>
                      <li>
                        <a href="our-courses-list-left-sidebar">
                          Courses List Left Sidebar
                        </a>
                      </li>
                      <li>
                        <a href="our-courses-list-right-sidebar">
                          Courses List Right Sidebar
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="courses-details">You Too Can Play #3</a>
                  </li>
                </ul>
              </li>
              <li><a href="testimonial">Testimonial</a></li>
              <li>
                <a href="blog">Blog</a>
              </li>
              <li><a href="contact">Contact</a></li>

              <li class="signin">
                <a href="#">Sign In</a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="login">Sign In</a></li>
                  <li>
                    <a href="register">Sign Up</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-2 position-static">
          <div class="header-search">
            <form action="#">
              <input type="text" placeholder="Search" />
              <button><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

