<header class="header-area">
  <div class="header-top">
    <div class="container">
      <div
        class="header-top-wrapper d-flex flex-wrap justify-content-sm-between"
      >
        <div class="header-top-left mt-10">
          <ul class="header-meta">
            <li>
              <a href="mailto://modernjazzwithnoels@gmail.com">
                modernjazzwithnoels@gmail.com
              </a>
            </li>
          </ul>
        </div>
        <div class="header-top-right mt-10">
          <div class="header-link">
            <a class="notice" href="/notice">Notice</a>
            <a class="register" href="/login">Login</a> 
            <a class="register" href="/register">Register</a>
            <a class="register" href="/dashboard">
            <i class="far fa-user" style="font-size: 1.2em;" ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="navigation" class="navigation navigation-landscape">
    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="header-logo">
            <a href="/">
              <img
                src="/assets/images/logo/logo1.png"
                alt="Official logo of Modern Jazz"
              />
            </a>
          </div>
        </div>
        <div class="col-lg-7 position-static">
          <div class="nav-toggle"></div>
          <nav class="nav-menus-wrapper">
            <ul class="nav-menu">
              <li>
                <a href="/">Home</a>
                <!-- <ul class="nav-dropdown nav-submenu">
                      <li><a href="index">Home 01</a></li>
                      <li><a class="active" href="index-2">Home 02</a></li>
                      <li><a href="index-3">Home 03</a></li>
                    </ul> -->
              </li>

              <li><a href="/about">About</a></li>
              <li>
                <a href="#">Courses</a>
                <ul class="nav-dropdown nav-submenu">
                  <li>
                    <a href="/courses/page1">You Too can Play #1</a>
                    <!-- <ul class="nav-dropdown nav-submenu"> -->
                      <!-- <li>
                        <a href="/course">80 solo techniques</a>
                        <ul class="nav-dropdown nav-submenu">
                          <li><a href="/course">Intervals</a></li>
                          <li><a href="/course">Jazz chords</a></li>
                          <li><a href="/course">The art of soloing 1</a></li>
                          <li>
                            <a href="/course">
                              The art of soloing 2
                            </a>
                          </li>
                          <li>
                            <a href="/course">
                              The art of soloing 3
                            </a>
                          </li>
                          <li><a href="/course">The art of soloing 4</a></li>
                          <li><a href="/course">Modern music band setup</a></li>
                          <li><a href="/course">22 modern music skills monetization</a></li>
                          <li><a href="/course">The legalities of 20th century music</a></li>
                        </ul>
                      </li>
                      <li><a href="/course">A Day With The Masters</a></li>
                      <li><a href="/course">250 chord voicings</a></li>
                      <li>
                        <a href="/course">
                          Music performance mastery
                        </a>
                      </li>
                      <li>
                        <a href="/course">
                          The depth of hearing music
                        </a>
                      </li> -->
                    <!-- </ul> -->
                  </li>
                  <li>
                    <a href="#!">You Too Can Play #2</a>
                  </li>
                  <li>
                    <a href="#!">You Too Can Play #3</a>
                  </li>
                </ul>
              </li>
              <li><a href="/tutors">Tutors</a></li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/contact">Contact</a></li>

              <li class="signin">
                <a href="#">Sign In</a>
                <ul class="nav-dropdown nav-submenu">
                  <li><a href="/login">Sign In</a></li>
                  <li>
                    <a href="/register">Sign Up</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-2 position-static">
          <div class="header-search">
            <form action="#">
              <input type="text" placeholder="Search" />
              <button><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

