<ul class="pagination-items text-center">
    <li><a href= "/course">01</a></li>
    <li><a href= "/course-pg2">02</a></li>
    <li><a href= "/course-pg3">03</a></li>
    <li><a href= "/course-pg4">04</a></li>
    <li><a href= "#!">05</a></li>
</ul>