<ul class="pagination-items text-center">
    <% length.forEach(function(i, j){ %>
    <li><a href= "/courses/page<%= j+1 %>"><%= j+1 %></a></li>
    <% }) %>
    <!-- <li><a href= "/course/page2">02</a></li> 
    <li><a href= "#!">03</a></li> -->
</ul>




