<div class="wrapper">
      <div class="sidebar">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
        <div class="sidebar-wrapper">
          <div class="logo">
            <a href="#!" class="simple-text logo-mini">
              FL
            </a>
            <a href="#!" class="simple-text logo-normal">
              FirstName LastName
            </a>
          </div>
          <ul class="nav">
            <li >
              <a href="./dashboard">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li>
              <a href="/course">
                <i class="fas fa-graduation-cap"></i>
                <p>Courses</p>
              </a>
            </li>
            <li>
              <a href="#!">
                <i class="fas fa-graduation-cap"></i>
                <p>Enrolled Courses</p>
              </a>
            </li>
            <li>
              <a href="./dashboard-notification">
                <i class="tim-icons icon-bell-55"></i>
                <p>Notifications</p>
              </a>
            </li>
            <li>
              <a href="dashboard-user">
                <i class="tim-icons icon-single-02"></i>
                <p>User Profile</p>
              </a>
            </li>
            <li>
              <a href="#!">
                <i class="tim-icons icon-chat-33"></i>
                <p>Chat</p>
              </a>
            </li>
            <li>
              <a href="logout">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log out</p>
              </a>
            </li>
          </ul>
        </div>
      </div>