<footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="#!" class="nav-link">
                Modern Jazz
              </a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> <a href="#!">Modern Jazz</a> powered by
             NobTech.
          </div>
        </div>
      </footer>