<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Modern Jazz | <%= title%></title>

	<!--====== Favicon Icon ======-->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon/favicon-16x16.png"
    />


</head>

<body>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/assets/css/style-404.css" />

	<div id="notfound">
		<div class="notfound">
			<img src="/assets/images/logo/logo1.png" width="150" style="margin-bottom: 30px;" alt="modernjazzwithnoels logo">
			<div class="notfound-404">
				<h1>403</h1>
				<h2>Access Forbidden</h2>
			</div>
			<a href="/">Homepage</a>
		</div>
	</div>

    <script>
    setTimeout(function () {
        // after 10 seconds
        window.location = "/";
    }, 10000)
    </script>

</body>

</html>
