<!DOCTYPE html>
<html class="no-js" lang="en">

  <!--====== Head Start ======-->

  <%- include('partials/header.ejs') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->

    <!--====== Page Banner Start ======-->

    <section class="page-banner">
      <div
        class="page-banner-bg bg_cover"
        style="
          background-image: url(assets/images/bg/about.png);
          background-position: bottom;
        "
      >
        <div class="container">
          <div class="banner-content text-center">
            <h2 class="title">About Us</h2>
          </div>
        </div>
      </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== About Start ======-->

    <section class="about-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-content mt-40">
              <h2 class="about-title">
                About
                <span>Modern</span>
                Jazz
              </h2>
              <span class="line"></span>
              <p>
                Welcome to the world's greatest source of artistic excellence
                and sylistic preeminenece.
                <br />
                <br />
                Modern jazz with Noels is an online music brand that offers
                professional courses to musicians of all levels with the
                objective of achieving a stepwise transitioning from a zero
                level to a hero level.
              </p>
              <a href="#" class="main-btn">Explore</a>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-image mt-50">
              <div class="single-image image-1">
                <img src="assets/images/new/girl.jpg" alt="girl singing" />
              </div>
              <div class="single-image image-2">
                <img
                  src="assets/images/new/jazz-sing.jpg"
                  alt="singing after having voice refined by Modern Jazz"
                />
              </div>
              <div class="single-image image-3">
                <img src="assets/images/new/sax.jpg" alt="playing saxophone" />
              </div>
              <div class="single-image image-4">
                <img
                  src="assets/images/new/sou-190.png"
                  alt="Modern Jazz keyboardist"
                />
              </div>

              <div class="about-icon icon-1">
                <img src="assets/images/about/icon/violin1.png" alt="Icon" />
              </div>
              <div class="about-icon icon-2">
                <img src="assets/images/about/icon/accordion.png" alt="Icon" />
              </div>
              <div class="about-icon icon-3">
                <img src="assets/images/about/icon/trumpet.png" alt="Icon" />
              </div>
              <div class="about-icon icon-4">
                <img src="assets/images/about/icon/drum.png" alt="Icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== About Ends ======-->

    <!--====== About Us Starts ======-->

    <section class="online-library-area">
      <div class="container">
        <div class="row justify-content-center wide">
          <div class="col-md-8">
            <div class="section-title-2 text-center">
              <h2 class="title">Vision Statement</h2>
              <span class="line"></span>
              <p>
                To become a world class music brand serving as a major source of
                great musical wisdom and insight for all levels of musicians
                across the globe.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 100px;">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="section-title-2 text-center">
              <h2 class="title">Mission Statement</h2>
              <span class="line"></span>
              <p>
                To eradicate musical mysteries through the use of stepwise, easy
                and sequentially arranged courses, thereby making all musicians
                masters of their crafts within a very short period of time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== About Us Ends ======-->

    <!--====== Features Start ======-->

    <div class="features-area-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="features-image-2">
              <img
                src="assets/images/new/grad2.png"
                height="440"
                alt="Features"
              />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="features-items">
              <div class="features-items-wrapper">
                <div class="single-features-item d-flex align-items-center">
                  <div class="item-icon">
                    <img src="assets/images/icon/icon-2-1.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      250+
                      <br />
                      Courses
                    </p>
                  </div>
                </div>
                <div class="single-features-item d-flex align-items-center">
                  <div class="item-icon">
                    <img src="assets/images/icon/icon-2-2.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Skill Based
                      <br />
                      Scholarships
                    </p>
                  </div>
                </div>
                <div class="single-features-item d-flex align-items-center">
                  <div class="item-icon">
                    <img src="assets/images/icon/icon-2-3.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Online
                      <br />
                      Education
                    </p>
                  </div>
                </div>
              </div>

              <div class="features-items-wrapper">
                <div class="single-features-item d-flex align-items-center">
                  <div class="item-icon">
                    <img src="assets/images/icon/icon-2-4.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Expert
                      <br />
                      Teachers
                    </p>
                  </div>
                </div>
                <div class="single-features-item d-flex align-items-center">
                  <div class="item-icon">
                    <img src="assets/images/icon/icon-2-5.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      After Course
                      <br />
                      Certification
                    </p>
                  </div>
                </div>
                <div class="single-features-item d-flex align-items-center">
                  <div class="item-icon">
                    <img src="assets/images/icon/icon-2-6.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Download
                      <br />
                      Prospectus
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--====== Features Ends ======-->

    <!--====== Teachers Start ======-->

    <section class="teachers-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="section-title mt-40">
              <h2 class="title">Meet our Teachers</h2>
              <p>
                We are equipped with oustanding Tutors who feel pride and honour
                to groom enthusiasts on the right path of their music career.
              </p>
            </div>
          </div>
        </div>
        <div class="teachers-wrapper">
          <div class="row teachers-row">
            <div class="col-md-4 col-sm-6 teachers-col">
              <div class="single-teacher mt-30 text-center">
                <div class="teacher-social">
                  <ul class="social">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="teacher-image">
                  <a href="teacher-details.html">
                    <img src="assets/images/teachers/noel.jpg" alt="teacher" />
                  </a>
                </div>
                <div class="teacher-content">
                  <h4 class="name">
                    <a href="teacher-details.html">Mr. Noels</a>
                  </h4>
                  <span class="designation">Musical Instructor</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 teachers-col">
              <div class="single-teacher mt-30 text-center">
                <div class="teacher-social">
                  <ul class="social">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="teacher-image">
                  <a href="teacher-details.html">
                    <img
                      src="assets/images/teachers/noels.jpeg"
                      alt="teacher"
                    />
                  </a>
                </div>
                <div class="teacher-content">
                  <h4 class="name">
                    <a href="teacher-details.html">Mr. Fred</a>
                  </h4>
                  <span class="designation">Musical Instructor</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 teachers-col">
              <div class="single-teacher mt-30 text-center">
                <div class="teacher-social">
                  <ul class="social">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="teacher-image">
                  <a href="teacher-details.html">
                    <img src="assets/images/teachers/noel.jpg" alt="teacher" />
                  </a>
                </div>
                <div class="teacher-content">
                  <h4 class="name">
                    <a href="teacher-details.html">Mr. Jesse</a>
                  </h4>
                  <span class="designation">Musical Instructor</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== Teachers Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->
  </body>
</html>
