<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>Edumate Education HTML Template</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
    
        
   <!-- CSS
    ============================================ -->

    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/default.css">


    <!--===== Plugins CSS (All Plugins Files) =====-->
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
    
</head>

<body>
    
    <!--====== Header Start ======-->

    <header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper d-flex flex-wrap justify-content-sm-between">
                    <div class="header-top-left mt-10">
                        <ul class="header-meta">
                            <li><a href="mailto://infoedumate@example.com">infoedumate@example.com</a></li>
                        </ul>
                    </div>
                    <div class="header-top-right mt-10">
                        <div class="header-link">
                            <a class="notice" href="notice.html">Notice</a>
                            <a class="login" href="login.html">Login</a>
                            <a class="register" href="register.html">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="navigation" class="navigation navigation-landscape">
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-7 position-static">
                        <div class="nav-toggle"></div>
                        <nav class="nav-menus-wrapper">
                            <ul class="nav-menu">
                                <li>
                                    <a href="#">Home</a>
                                    <ul class="nav-dropdown nav-submenu">
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="index-2.html">Home 02</a></li>
                                        <li><a href="index-3.html">Home 03</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Courses</a>
                                    <ul class="nav-dropdown nav-submenu">
                                        <li>
                                            <a href="#">Courses Grid</a>
                                            <ul class="nav-dropdown nav-submenu">
                                                <li><a href="our-courses.html">Courses 01</a></li>
                                                <li><a href="our-courses-2.html">Courses 02</a></li>
                                                <li><a href="our-courses-3.html">Courses 03</a></li>
                                                <li><a href="our-courses-left-sidebar.html">Courses Left Sidebar</a></li>
                                                <li><a href="our-courses-right-sidebar.html">Courses Right Sidebar</a></li>
                                            </ul>
                                        </li>  
                                        <li>
                                            <a href="#">Courses</a>
                                            <ul class="nav-dropdown nav-submenu">
                                                <li><a href="our-courses-list.html">Courses List</a></li>
                                                <li><a href="our-courses-list-left-sidebar.html">Courses List Left Sidebar </a></li>
                                                <li><a href="our-courses-list-right-sidebar.html">Courses List Right Sidebar</a></li>                                                    
                                            </ul>
                                        </li>                                            
                                        <li><a href="courses-details.html">Courses Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Events</a>
                                    <ul class="nav-dropdown nav-submenu">
                                        <li><a href="event.html">Event 01</a></li>
                                        <li><a href="event-2.html">Event 02</a></li>
                                        <li><a href="event-details.html">Event Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="nav-dropdown nav-submenu">
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="teachers.html">Teachers</a></li>
                                        <li><a href="teacher-details.html">Teachers Details</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                                        <li><a href="testimonial.html">Testimonial</a></li>
                                        <li><a href="faq.html">FAQ'S</a></li>
                                        <li><a href="notice.html">Notice</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shop</a>
                                    <ul class="nav-dropdown nav-submenu">
                                        <li><a href="shop.html">Shop </a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="product-details.html">Shop Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="active" href="#">Blog</a>
                                    <ul class="nav-dropdown nav-submenu">
                                        <li><a href="blog.html">Blog </a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sideba.html">Blog Right Sidebar</a></li>
                                        <li><a class="active" href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-2 position-static">
                        <div class="header-search">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--====== Header Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" style="background-image: url(assets/images/page-banner.jpg);">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Blog Details</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Blog Details Start ======-->

    <section class="blog-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-content">
                        <div class="details-content mt-50">
                            <img src="assets/images/blog-details.jpg" alt="">
                            <ul class="meta">
                                <li><a href="#">25 May, 2020</a></li>
                                <li><a href="#">By: Alex</a></li>
                                <li><a href="#">12 Comments</a></li>
                            </ul>
                            <h3 class="title">Latest Micro Biological basic Workshop for Research</h3>

                            <p>Micro Biology slightly believable. If you are going use a passage of Lorem Ipsum need equal belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy  distinguish These cases are perfectly simple and easy to distinguish. In a free hour, when our power of nothing prevents our being able to do what we like best, every pleasure welcome <br> <br> Bachelor of Business Administration(BBA) If you are going use a passage of Lorem Ipsum blame belongs to those who fail in their duty through weakness of will, which is the same as through shrinking from toil and pain. These cases are perfectly simple and easy <br> <br> Bachelor of Business Administration(BBA) If you are going use a passage of Lorem Ipsum all blame belongs to those who fail in their duty through weakness of will, which is the same as through shrinking from toil and pain. These cases are perfectly simple and easy distinguish dolor repellendus. Temporibus autem quibusdam et aut officiis debitis autnecessitatibus sae pe eveniet ut et voluptates repudiandae sint et molestiae.</p>

                            <ul class="blog-list">
                                <li>
                                    <i class="far fa-check-circle"></i>
                                    <p>Bachelor of Business Administration(BBA) If you are going use a passage of blame belongs to those who fail in their duty through weakness </p>
                                </li>
                                <li>
                                    <i class="far fa-check-circle"></i>
                                    <p>Bachelor of Business Administration(BBA) If you are going use a passage of blame belongs to those who fail in their duty through weakness </p>
                                </li>
                                <li>
                                    <i class="far fa-check-circle"></i>
                                    <p>Bachelor of Business Administration(BBA) If you are going use a passage of blame belongs to those who fail in their duty through weakness </p>
                                </li>
                            </ul>

                            <p>Bachelor of Business Administration(BBA) If you are going use a passage of Lorem Ipsum blame  belongs to those who fail in their duty through weakness of will, which is the same as through shrinking from toil and pain. These cases are perfectly simple and easy</p>

                            <div class="blog-tags">
                                <span>Tags:</span>
                                <ul class="tags">
                                    <li><a href="#">Education,</a></li>
                                    <li><a href="#">University,</a></li>
                                    <li><a href="#">MBA,</a></li>
                                    <li><a href="#">BBA</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="blog-comment">
                            <h3 class="comment-title">Comments(03)</h3>

                            <ul class="comment-items">
                                <li>
                                    <div class="single-comment">
                                        <div class="comment-author">
                                            <img src="assets/images/author-1.jpg" alt="">
                                        </div>
                                        <div class="comment-content">
                                            <div class="meta">
                                                <h5 class="name">Alex Smith,</h5>
                                                <span class="time">1 hour ago</span>
                                            </div>
                                            <p>Some of the people may be the right If you are going use a passage belongs to those who fail in their duty through weakness </p>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </div>
                                    <ul class="comment-reply">
                                        <li>
                                            <div class="single-comment">
                                                <div class="comment-author">
                                                    <img src="assets/images/author-2.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="meta">
                                                        <h5 class="name">Alex Smith,</h5>
                                                        <span class="time">1 hour ago</span>
                                                    </div>
                                                    <p>Some of the people may be the right If you are going use a passage belongs to those who fail in their duty through weakness </p>
                                                    <a href="#" class="reply">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="single-comment">
                                        <div class="comment-author">
                                            <img src="assets/images/author-3.jpg" alt="">
                                        </div>
                                        <div class="comment-content">
                                            <div class="meta">
                                                <h5 class="name">Alex Smith,</h5>
                                                <span class="time">1 hour ago</span>
                                            </div>
                                            <p>Some of the people may be the right If you are going use a passage belongs to those who fail in their duty through weakness </p>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="blog-comment">
                            <h3 class="comment-title">Leave a message here</h3>

                            <p>Here is our event schedule where you can get information about time schedule about this event so it's very easy for you to manage your time and schedule</p>

                            <div class="comment-form">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <input type="text" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <textarea placeholder="Write here..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <button class="main-btn">Submit now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar right-sidebar pt-20">
                        <div class="blog-sidebar-category mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Categories</h4>
                            </div>
                            <ul class="category-items">
                                <li>
                                    <div class="form-radio">
                                        <input type="radio" name="categoryRadio" id="categoryRadio1">
                                        <label for="categoryRadio1"> <span></span> Science <strong>(25)</strong></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-radio">
                                        <input type="radio" name="categoryRadio" id="categoryRadio2">
                                        <label for="categoryRadio2"> <span></span> Marketing <strong>(18)</strong></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-radio">
                                        <input type="radio" name="categoryRadio" id="categoryRadio3">
                                        <label for="categoryRadio3"> <span></span> Design <strong>(10)</strong></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-radio">
                                        <input type="radio" name="categoryRadio" id="categoryRadio4">
                                        <label for="categoryRadio4"> <span></span> Social Marketing <strong>(05)</strong></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-radio">
                                        <input type="radio" name="categoryRadio" id="categoryRadio5">
                                        <label for="categoryRadio5"> <span></span> Fine Arts <strong>(12)</strong></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-radio">
                                        <input type="radio" name="categoryRadio" id="categoryRadio6">
                                        <label for="categoryRadio6"> <span></span> Law <strong>(05)</strong></label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="blog-sidebar-post mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Recent Post</h4>
                            </div>
                            <ul class="post-items">
                                <li>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/post-1.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="post-title"><a href="blog-details.html">Guest Interview will Occur in English</a></h4>
                                            <a href="#" class="more">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/post-2.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="post-title"><a href="blog-details.html">Online Courses are available now</a></h4>
                                            <a href="#" class="more">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/post-3.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="post-title"><a href="blog-details.html">Workshop on English native Language</a></h4>
                                            <a href="#" class="more">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details.html"><img src="assets/images/post-4.jpg" alt=""></a>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="post-title"><a href="blog-details.html">How to find resources for Laravel Language </a></h4>
                                            <a href="#" class="more">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="blog-sidebar-banner mt-30">
                            <a href="#">
                                <img src="assets/images/product/banner.jpg" alt="">
                            </a>
                        </div>

                        <div class="blog-sidebar-tags mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Tags</h4>
                            </div>
                            <ul class="tags-items">
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Event</a></li>
                                <li><a href="#">Pen</a></li>
                                <li><a href="#">Bags</a></li>
                                <li><a href="#">Pencil</a></li>
                                <li><a href="#">Stationary</a></li>
                                <li><a href="#">Science</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">ecommerce</a></li>
                                <li><a href="#">Library</a></li>
                                <li><a href="#">Shopping</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Blog Details Ends ======-->
    
    <!--====== Newsletter Start ======-->

    <section class="newsletter-area-2">
        <div class="container">
            <div class="newsletter-wrapper bg_cover" style="background-image: url(assets/images/newsletter-bg-1.jpg);">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="section-title-2 mt-25">
                            <h2 class="title">Subscribe our Newsletter</h2>
                            <span class="line"></span>
                            <p>Even slightly believable. If you are going use a passage of Lorem Ipsum need some</p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="newsletter-form mt-30">
                            <form action="#">
                                <input type="text" placeholder="Enter your email here">
                                <button class="main-btn main-btn-2">Subscribe now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Newsletter Ends ======-->
    
    <!--====== Footer Start ======-->

    <section class="footer-area footer-02 bg_cover" style="background-image: url(assets/images/counter-bg.jpg);">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">Information</h4>
                            <ul class="link-list">
                                <li><a href="#">Admission</a></li>
                                <li><a href="#">Tuition fee</a></li>
                                <li><a href="#">Scholorship</a></li>
                                <li><a href="#">Coditions</a></li>
                                <li><a href="#">Facilities</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">Useful Link</h4>
                            <ul class="link-list">
                                <li><a href="our-courses-left-sidebar.html">All Courses</a></li>
                                <li><a href="teachers.html">Our Teachers</a></li>
                                <li><a href="event.html">Our Events</a></li>
                                <li><a href="blog-left-sidebar.html">Blog post</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">Useful Link</h4>
                            <ul class="link-list">
                                <li><a href="#">All Courses</a></li>
                                <li><a href="#">Our Teachers</a></li>
                                <li><a href="#">Our Events</a></li>
                                <li><a href="#">Blog post</a></li>
                                <li><a href="login.html">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-link mt-45">
                            <h4 class="footer-title">Contact Info</h4>
                            <ul class="link-list">
                                <li>
                                    <p>245, New Town, Marklen Street North City, New York, USA</p>
                                </li>
                                <li>
                                    <p><a href="tel:+01254659874">+01254 659 874 </a></p>
                                    <p><a href="tel:+32145857458">+32145 857 458</a></p>
                                </li>
                                <li>
                                    <p><a href="mailto://info@example.com">info@example.com</a></p>
                                    <p></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-widget-wrapper">
                    <div class="footer-social">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <ul class="menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Notice Board</a></li>
                            <li><a href="#">Offers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="copyright text-center">
                    <p>&copy; 2021 <span> Edumate </span> Made with <i class="fa fa-heart"></i> by <a href="#">codecarnival</a></p>
                </div>
            </div>
        </div>
    </section>

    <!--====== Footer Ends ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="fal fa-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    
    <!--====== Start ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== Ends ======-->




    <!--====== Jquery js ======-->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
    
   <!--====== All Plugins js ======-->
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.appear.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/wow.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <!-- <script src="assets/js/plugin.min.js"></script> -->

    
    <!--====== Main Activation  js ======-->
    <script src="assets/js/main.js"></script>

    
</body>

</html>
