<!doctype html>
<html class="no-js" lang="en">

 <!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <style>
        a{
            color: #f23f00;
        }
    </style>

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" 
        style="background-image: url(/assets/images/bg/faq.jpg);
        background-color: #24242475;
        background-blend-mode: overlay;">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">FAQ's</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== FAQ's Start ======-->

    <section class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-2">
                        <h2 class="title">FAQ's</h2>
                        <span class="line"></span>
                        <p>Welcome to our support center. Here you can find answers to common questions ... <br> If you can't find any suitable answer below or for further inquiries, kindly reach out to our support team @ <a href="https://wa.me/+2348143958001/?text=">ModernJazzSupportTeam</a></p>
                    </div>
                </div>
            </div>
            <div class="faq-wrapper">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingOne">
                            <a href="#" data-toggle="collapse" data-target="#collapseOne">Can you tell me more about this music school?</a>                            
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample" >
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p> Welcome to the world's greatest source of music excellence and sylistic preeminenece.

                                    Modern jazz with Noels is an online music brand that offers professional music courses to musicians of all levels (Newbie, Beginners, Intermediate and Advance) with the objective of achieving a stepwise transitioning from a zero level to a hero level.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingFive" >
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive" >Are you accepting new students?</a>                            
                        </div>
                    
                        <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>Yes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingSix">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSix">What do I stand to gain?</a>                            
                        </div>
                        <div id="collapseSix" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>Applying to ModernJazzwithnoels is one of the best decisions you have made. you would have access to:
                                    <ul style="padding-left: 20px;">
                                        <p><i class="far fa-star" style="color: #f23f00; font-size: .8em;"></i> 1 on 1 virtual interactions with tutors across the world.</p>
                                        <p><i class="far fa-star" style="color: #f23f00; font-size: .8em;"></i> Unlimited free course materials.</p>
                                        <p><i class="far fa-star" style="color: #f23f00; font-size: .8em;"></i> Life time mentorship.</p>
                                        <p><i class="far fa-star" style="color: #f23f00; font-size: .8em;"></i> Globally recognized professional certificate.</p>
                                        <p><i class="far fa-star" style="color: #f23f00; font-size: .8em;"></i> Joining a music band</p>
                                        <p><i class="far fa-star" style="color: #f23f00; font-size: .8em;"></i> Possible high paying job (Gigs, Studio recordings, lectures, endorsement etc.) </p>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingFour">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFour">How can I apply?</a>                            
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>Send "hi" to <a href="https://wa.me/+2348143958001/?text=hi" target="_blank" rel="noopener noreferrer">+2348143958001</a> or <br> Visit us at <a href="https://www.noelsjazzacademy.com/">www.noelsjazzacademy.com/</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingTwo">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo">How much does this school cost?</a>                            
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>Course Fee: <strong>Free.</strong> <br> Registration Fee: <strong>Free.</strong> <br> Life Time Subscription Fee: <strong>Varies depending on course.</strong> </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingThree">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree">Where are you located?</a>                            
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>Online: <strong><a href="https://www.noelsjazzacademy.com/">https://www.noelsjazzacademy.com/</a></strong>. <br> Offline: <strong> Lebeks Owode, Lagos, Nigeria </strong>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingSeven">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSeven">How is learning enhanced?</a>                            
                        </div>
                        <div id="collapseSeven" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>We are equipped with best of tutors across the globe to groom you to musical excellence.
                                    There exist a channel for Student-Tutor interactions to help boost understanding. 
                                    We also promote collaboration and team work, and Student-Student interactions using our study chat system.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingEight">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseEight">Do I pay to download the course materials?</a>                            
                        </div>
                        <div id="collapseEight" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>No, the learning materials are extra aids to enhance understanding. They are free to access.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingNine">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseNine">Do I need to come to a physical location to learn?</a>                            
                        </div>
                        <div id="collapseNine" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>No, we are bringing all musical knowledge to your doorstep. You can learn from music from beginners to advance anywhere in the world
                                    at your own pace and convenience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <span class="question">Q:</span>
                        <div class="card-header" id="headingTen">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTen">Where does the virtual class hold?</a>                            
                        </div>
                        <div id="collapseTen" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <span class="answer">A:</span>
                                <p>The virtual class holds Mondays and Thursdays weekly on the official telegram group.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== FAQ's Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->
</body>

</html>
