<!DOCTYPE html>
<html class="no-js" lang="en">

  <!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->

    <!--====== Slider Start ======-->

    <section class="slider-area slider-02 slider-active">
      <div
        class="single-slider d-flex align-items-center bg_cover"
        style="
          background-image: url(assets/images/bg/audience.jpg);
          background-color: #24242475;
          background-blend-mode: overlay;
        "
      >
        <div class="container">
          <div class="slider-content slider-content-2">
            <h2 class="title" data-animation="fadeInLeft" data-delay="0.2s">
              You Too Can Play !
            </h2>
            <ul class="slider-btn">
              <li>
                <a
                  data-animation="fadeInLeft"
                  data-delay="0.6s"
                  class="main-btn main-btn-2"
                  href="course"
                >
                  View Courses
                </a>
              </li>
              <li>
                <a
                  data-animation="fadeInLeft"
                  data-delay="1s"
                  class="main-btn"
                  href="about"
                >
                  Learn more
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="single-slider d-flex align-items-center bg_cover"
        style="
          background-color: #24242475;
          background-image: url(assets/images/bg/music.jpg);
          background-blend-mode: overlay;
        "
      >
        <div class="container">
          <div class="slider-content slider-content-2">
            <h2 class="title" data-animation="fadeInLeft" data-delay="0.2s">
              Universal Language Of Mankind - Music.
            </h2>
            <ul class="slider-btn">
              <li>
                <a
                  data-animation="fadeInLeft"
                  data-delay="0.6s"
                  class="main-btn main-btn-2"
                  href="course"
                >
                  View Courses
                </a>
              </li>
              <li>
                <a
                  data-animation="fadeInLeft"
                  data-delay="1s"
                  class="main-btn"
                  href="about"
                >
                  Learn more
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="single-slider d-flex align-items-center bg_cover"
        style="
          background-image: url(assets/images/bg/drum-lessons.jpeg);
          background-color: #24242475;
          background-blend-mode: overlay;
        "
      >
        <div class="container">
          <div class="slider-content slider-content-2">
            <h2 class="title" data-animation="fadeInLeft" data-delay="0.2s">
              March To The Beat Of Your Own Drum.
            </h2>
            <ul class="slider-btn">
              <li>
                <a
                  data-animation="fadeInLeft"
                  data-delay="0.6s"
                  class="main-btn main-btn-2"
                  href="course"
                >
                  View Courses
                </a>
              </li>
              <li>
                <a
                  data-animation="fadeInLeft"
                  data-delay="1s"
                  class="main-btn"
                  href="about"
                >
                  Learn more
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--====== Slider Ends ======-->

    <!--====== About Start ======-->

    <section class="about-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="about-content mt-40">
              <h2 class="about-title">
                Learn
                <span>Music</span>
                Online
              </h2>
              <span class="line"></span>
              <p>
                Learn to discover, imagine, explore, refine and develop your skills in music.
                Join the thousands of professionals that have earned reputable degrees from 
                Modern Jazz. Whether you routinely travel for work or have an irregular schedule, 
                our Modern Jazz courses go with you.
                <br />
                <br />
                Take musical courses at your own pace, have access to tutors, mentors and community
                of learners just like you, and get unlimited learning resources at your fingertips.
              </p>
              <a href="course" class="main-btn">Explore</a>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-image mt-50">
              <div class="single-image image-1">
                <img src="./assets/images/new/girl.jpg" alt="Girl singing" />
              </div>
              <div class="single-image image-2">
                <img
                  src="./assets/images/new/jazz-sing.jpg"
                  alt="Guy singing"
                />
              </div>
              <div class="single-image image-3">
                <img
                  src="./assets/images/new/sax.jpg"
                  alt="Guy playing trumpet"
                />
              </div>
              <div class="single-image image-4">
                <img
                  src="./assets/images/new/sou-190.png"
                  alt="Girl playing keyboard"
                />
              </div>

              <div class="about-icon icon-1">
                <img src="./assets/images/about/icon/notes.png" alt="icon 1" />
              </div>
              <div class="about-icon icon-2">
                <img src="./assets/images/about/icon/bass.png" alt="icon 2" />
              </div>
              <div class="about-icon icon-3">
                <img src="./assets/images/about/icon/saxophone.png" alt="icon 3" />
              </div>
              <div class="about-icon icon-4">
                <img src="./assets/images/about/icon/keyboard1.png" alt="icon 4" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== About Ends ======-->

    <!--====== Features Start ======-->

    <div class="features-area-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="features-image-2">
              <img
                class="wow fadeInLeft"
                data-wow-duration="1s"
                data-wow-delay="0.3s"
                src="./assets/images/new/noel.jpg"
                alt="Features"
              />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="features-items">
              <div class="features-items-wrapper">
                <div
                  class="single-features-item d-flex align-items-center wow fadeInUpBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.2s"
                >
                  <div class="item-icon">
                    <img src="./assets/images/icon/icon-2-1.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      250+
                      <br />
                      Courses
                    </p>
                  </div>
                </div>
                <div
                  class="single-features-item d-flex align-items-center wow fadeInUpBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.4s"
                >
                  <div class="item-icon">
                    <img src="./assets/images/icon/icon-2-2.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Interactive
                      <br />
                      Learning
                    </p>
                  </div>
                </div>
                <div
                  class="single-features-item d-flex align-items-center wow fadeInUpBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.6s"
                >
                  <div class="item-icon">
                    <img src="./assets/images/icon/icon-2-3.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Online
                      <br />
                      Education
                    </p>
                  </div>
                </div>
              </div>

              <div class="features-items-wrapper">
                <div
                  class="single-features-item d-flex align-items-center wow fadeInUpBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.2s"
                >
                  <div class="item-icon">
                    <img src="./assets/images/icon/icon-2-4.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Expert
                      <br />
                      Teachers
                    </p>
                  </div>
                </div>
                <div
                  class="single-features-item d-flex align-items-center wow fadeInUpBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.4s"
                >
                  <div class="item-icon">
                    <img src="./assets/images/icon/icon-2-5.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      After Course
                      <br />
                      Certification
                    </p>
                  </div>
                </div>
                <div
                  class="single-features-item d-flex align-items-center wow fadeInUpBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.6s"
                >
                  <div class="item-icon">
                    <img src="./assets/images/icon/icon-2-6.png" alt="Icon" />
                  </div>
                  <div class="item-content media-body">
                    <p>
                      Download
                      <br />
                      Prospectus
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--====== Features Ends ======-->

    <!--====== Top Course Start ======-->

    <section class="top-courses-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-title mt-40">
              <h2 class="title">
                Here are our
                <br />
                Top Courses
              </h2>
              <p>
                We bring you the latest and top courses to groom you 
                expeditiously to excellence.
              </p>
            </div>
          </div>
        </div>
        <div
          class="courses-wrapper wow fadeInUpBig"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <div class="row">
            <div class="col-lg-3 col-sm-6 courses-col">
              <div class="single-courses-2 mt-30">
                <div class="courses-image">
                  <a href="course-details">
                    <img
                      src="./assets/images/courses/solo.jpg"
                      alt="courses"
                    />
                  </a>
                </div>
                <div class="courses-content">
                  <a href="course" class="category">You Too Can Play Series #1</a>
                  <h4 class="courses-title">
                    <a href="course-details">
                      80 Solo Techniques in 4 Weeks
                    </a>
                  </h4>
                  <div class="duration-rating">
                    <div class="duration-fee">
                      <p class="duration">
                        Duration:
                        <span>4 weeks</span>
                      </p>
                      <p class="fee">
                        Fee: 
                        <span>$ 25</span>
                        <span>NGN 10 000</span>
                      </p>
                    </div>
                    <div class="rating">
                      <span>Rating:</span>
                      <ul class="star">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses-link">
                    <a class="apply" href="#!">Online Apply</a>
                    <a class="more" href="course-details">
                      Read more
                      <i class="fal fa-chevron-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 courses-col">
              <div class="single-courses-2 mt-30">
                <div class="courses-image">
                  <a href="#!">
                    <img
                      src="./assets/images/courses/perform.jpg"
                      alt="courses"
                    />
                  </a>
                </div>
                <div class="courses-content">
                  <a href="#!" class="category">You Too Can Play Series #1</a>
                  <h4 class="courses-title">
                    <a href="course-details">
                      A Day With The Masters (12)
                    </a>
                  </h4>
                  <div class="duration-rating">
                    <div class="duration-fee">
                      <p class="duration">
                        Duration:
                        <span>2 Weeks</span>
                      </p>
                      <p class="fee">
                        Fee: <span> $ 100 </span>
                        <span>NGN 40 000</span>
                      </p>
                    </div>
                    <div class="rating">
                      <span>Rating:</span>
                      <ul class="star">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses-link">
                    <a class="apply" href="#!">Coming Soon</a>
                  </div>
                </div>
                <div class="courses-lock">
                  <div class="lock">
                    <i class="fas fa-lock"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 courses-col">
              <div class="single-courses-2 mt-30">
                <div class="courses-image">
                  <a href="#!">
                    <img
                      src="./assets/images/courses/key.jpg"
                      alt="courses"
                    />
                  </a>
                </div>
                <div class="courses-content">
                  <a href="#!" class="category">You Too Can Play Series #1</a>
                  <h4 class="courses-title">
                    <a href="#!">
                      500 Plus Chord Voicings
                    </a>
                  </h4>
                  <div class="duration-rating">
                    <div class="duration-fee">
                      <p class="duration">
                        Duration:
                        <span>4 Weeks</span>
                      </p>
                      <p class="fee">
                        Fee: <span> $ 100 </span>
                        <span>NGN 40 000</span>
                      </p>
                    </div>
                    <div class="rating">
                      <span>Rating:</span>
                      <ul class="star">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses-link">
                    <a class="apply" href="#!">Coming Soon</a>
                  </div>
                </div>
                <div class="courses-lock">
                  <div class="lock">
                    <i class="fas fa-lock"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 courses-col">
              <div class="single-courses-2 mt-30">
                <div class="courses-image">
                  <a href="#!">
                    <img
                      src="./assets/images/courses/performance.jpeg"
                      alt="courses"
                    />
                  </a>
                </div>
                <div class="courses-content">
                  <a href="#!" class="category">You Too Can Play Series #1</a>
                  <h4 class="courses-title">
                    <a href="#!">
                      Music performance mastery (Staging)
                    </a>
                  </h4>
                  <div class="duration-rating">
                    <div class="duration-fee">
                      <p class="duration">
                        Duration:
                        <span>4 Weeks</span>
                      </p>
                      <p class="fee">
                        Fee: <span> $ 100 </span>
                        <span>NGN 40 000</span>
                      </p>
                    </div>
                    <div class="rating">
                      <span>Rating:</span>
                      <ul class="star">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses-link">
                    <a class="apply" href="#!">Coming Soon</a>
                  </div>
                </div>
                <div class="courses-lock">
                  <div class="lock">
                    <i class="fas fa-lock"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== Top Course Ends ======-->

    <!--====== Campus Start ======-->
  
    <section class="campus-visit-area-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="campus-content campus-content-2 mt-40">
              <h2 class="campus-title">Music made easy with Modern Jazz</h2>
              <span class="line"></span>
              <p>
                Here, we equip enthused learners to impact the music industry. 
                We will guide, assist, and advocate for you to foster program 
                completion and academic excellence.
              </p>
              <h3 class="video-title">or watch video</h3>
              <a
                class="play video-popup"
                href="https://vimeo.com/639511643"
              >
                <i class="fas fa-play"></i>
                <span>Play now</span>
              </a>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="campus-image-2 mt-50">
              <h4 class="campus-title-2">Image Gallery</h4>
              <div class="image-1">
                <img src="./assets/images/new/studio.jpg" alt="studio" />
              </div>
              <div class="image-2">
                <img
                  src="./assets/images/new/people.jpg"
                  alt="black guy playing jazz"
                />
              </div>
              <div class="image-3">
                <img
                  src="./assets/images/new/drum.jpeg"
                  alt="girl playing drum"
                />
              </div>
              <a href="#!" class="more">
                View more
                <i class="fal fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== Campus Ends ======-->

    <!--====== Testimonial Start ======-->

    <section class="testimonials-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-wrapper-2 mt-40">
              <div class="section-title-2">
                <h2 class="title">
                  Meet Our
                  <br />
                  Lead Tutor
                </h2>
                <span class="line"></span>
              </div>

              <div class="testimonials-content">
                <div class="single-testimonial-content">
                  <div class="content-text">
                    <i class="fas fa-quote-right"></i>
                    <p>
                      Over the years, I have successfully trained over 200 established Piano players, 
                      and Jazz musicians. It is a pleasure and great priviledge to be one of your instructors.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-wrapper-2">
              <div class="testimonials-shape shape-1"></div>
              <div class="testimonials-shape shape-2"></div>

              <div class="testimonials-image">
                <div class="single-testimonial-image">
                  <img
                    src="./assets/images/new/noel.jpg"
                    alt="image of testimonial" 
                  />

                  <div class="content-meta" id="homepage">
                    <p class="name">Noels Emmanuel</p>
                    <p class="designation">Pro Jazz Pianist</p>
                  </div>
                </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--====== Testimonial Ends ======-->

    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->

  </body>
</html>
