<!doctype html>
<html class="no-js" lang="en">

    <!--====== Head Start ======-->

    <%- include('partials/header') %>

    <!--====== Head Ends ======-->

  <body>

    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->

    <!--====== Learning Start ======-->

    <section class="courses-details mysec">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-8">
                    <div class="courses-details-content mt-50">
                        <video src="/assets/smoke.mp4" width="100%" poster="/assets/images/courses/solo-lg.jpg" controls ></video>

                        <h2 class="title my" id="nxt"> 80 Solo Techniques In 4 Weeks <br> Lesson 1.1 : Intervals</h2>

                    </div>

                    <div style="width: 200px; margin: 50px auto;" > 
                        <a href="/learn/80_solo_techniques/lesson/2" class="main-btn"> NEXT LESSON</a>
                    </div>

                    <div class="courses-details-tab">
                 <div class="benefit-content">
                        <ul class="courses-details-list">
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p>Join our telegram channel <a href="" style="color: #ca9400;">here</a> to engage in the live class session.</p>
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p> Only two (2) courses would be available weekly.</p>
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p> The live class session on telegram takes place on Mondays and Thursdays.</p>
                            </li>
                        </ul>

                  </div>
                 </div>
                        
                    
                </div>
                <div class="col-lg-4">
                    <div class="courses-sidebar pt-20">
                        <div class="courses-features mt-30">
                            <div class="sidebar-title">
                                <h4 class="title">Course Modules</h4>
                            </div>
                            
                            <ul class="courses-features-items">
                                <li><a href="/learn/80_solo_techniques/lesson/1"><i class="fal fa-book"></i> Intervals</a> <strong> <i class="fa fa-unlock"></i></strong></li>
                                <li><a href="#nxt"><i class="fal fa-book"></i> Jazz Chords</a> <strong> <i class="fa fa-lock"></i></strong></li>
                                <li><a href="#nxt" class="mylesson"><i class="fal fa-book"></i> The Art of Soloing 1</a> <strong> <i class="fa fa-lock"></i></strong></li>
                                <li><a href="#nxt" class="mylesson"><i class="fal fa-book"></i> The Art of Soloing 2</a> <strong> <i class="fa fa-lock"></i></strong></li>
                                <li><a href="#nxt" class="mylesson"><i class="fal fa-book"></i> The Art of Soloing 3</a> <strong> <i class="fa fa-lock"></i></strong></li>
                                <li><a href="#nxt" class="mylesson"><i class="fal fa-book"></i> The Art of Soloing 4</a> <strong> <i class="fa fa-lock"></i></strong></li>
                                <li><a href="#nxt" class="mylesson"><i class="fal fa-book"></i> Modern Music Band Setup</a> <strong> <i class="fa fa-lock"></i></strong></li>
                                <li><a href="#nxt" class="mylesson"><i class="fal fa-book"></i> 22 Modern Music Skills Monetization</a> <strong> <i class="fa fa-lock"></i></strong></li>
                                <li><a href="#nxt" class="mylesson"><i class="fal fa-book"></i> The Legalities of 20th Century Music</a> <strong> <i class="fa fa-lock"></i></strong></li>
                            </ul>
                            <div class="sidebar-btn">
                                <a class="main-btn mybtn" href="#!">Print Certificate</a>
                            </div>
                            <div>
                            <p class="form-message success mysuc" style="margin-left: 0; margin-right: 0">
                                <span class="erImg"></span>
                                <span> </span>
                                <span class="erText">Kindly complete all modules</span>
                            </p>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Learning Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->

    <script>
        $(function () {
            $('.mysuc').hide()
            $('.mybtn').on('click', function () {
                $('.mysuc').fadeIn(1000)
            })
            
        })
    </script>
    
</body>

</html>
