<!doctype html>
<html class="no-js" lang="en">

  <!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover"
        style="background-image: url(/assets/images/bg/all.jpg);
        background-color: #24242475;
        background-blend-mode: overlay;
         ">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">All Courses</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Top Course Start ======-->
    
    <section class="top-courses-area">
        <div class="container">
            <div class="courses-bar">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="courses-tab">
                            <ul class="nav" role="tablist">
                                <li><a data-toggle="tab" href="#grid" role="tab"><i class="fas fa-th-large"></i></a></li>
                                <li><a class="active" data-toggle="tab" href="#list" role="tab"><i class="fas fa-list"></i></a></li>
                            </ul>
                            <p>Showing 1 - 8 of 40 results</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="courses-bar-form">
                            <div class="courses-select">
                                <select id="selectbox1">
                                    <option value="0">Newly Published</option>
                                    <option value="1">Alphabetic Order</option>
                                    <option value="2">Rating</option>
                                    <option value="3">Published Date</option>
                                    <option value="4">Price</option>
                                    <option value="5">Series #</option>
                                </select>
                            </div>
                            <div class="courses-search">
                                <input type="text" placeholder="Search courses">
                                <i class="far fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>    
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="grid" role="tabpanel">
                    <div class="courses-wrapper wrapper-2">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="/course-details/80_solo_techniques"><img src="/assets/images/courses/solo.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#!" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href="/course-details/80_solo_techniques">80 Solo Techniques in 4 Weeks</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 Weeks</span></p>
                                                <p class="fee">Fee: <span> $ 25</span>
                                                 <span> NGN 10 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="/course-details/80_solo_techniques">Apply Now</a>
                                            <a class="more" href= "#!">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href= "/course-details/#!"><img src="/assets/images/courses/perform.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href="course-details/a_day_with_the_masters">A Day With The Masters (12)</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 1 weeks</span></p>
                                                <p class="fee">Fee: <span> $ 100</span><span> NGN 40 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href= "#!"><img src="/assets/images/courses/key.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href= "#!" class="category">#You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href= "#!">500 Plus Chord Voicings</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 Weeks</span></p>
                                                <p class="fee">Fee: <span> $ 100</span><span> NGN 40 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href= "#!"><img src="/assets/images/courses/performance.jpeg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href= "#!">Music Performance Mastery </a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 2 weeks</span></p>
                                                <p class="fee">Fee: <span> $ 100</span><span> NGN 40 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href= "#!"><img src="/assets/images/courses/musc.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href= "#!">The Depth of Hearing Music (Intense Ear Training)</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 2 weeks</span></p>
                                                <p class="fee">Fee: <span> $ 100</span> <span> NGN 40 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href= "#!"><img src="/assets/images/courses/mony.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href= "#!">Music Business and Music Skills Monetization A-Z</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 2 weeks</span></p>
                                                <p class="fee">Fee: <span> $ 100</span> <span> NGN 40 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href= "#!"><img src="/assets/images/courses/piano.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href= "#!" class="category">#You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href= "#!">Become An Advanced Solo Jazz Painist in 10days</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 2 weeks</span></p>
                                                <p class="fee">Fee: <span> $ 100</span> <span> NGN 40 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href= "#!"><img src="/assets/images/courses/sing.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href= "#!">Blues Music From Basic To Super advanced</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 3 weeks</span></p>
                                                <p class="fee">Fee: <span> $ 100</span> <span> NGN 40 000</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LONG COURSES LIST -->

                <div class="tab-pane fade show active" id="list" role="tabpanel">
                    <div class="courses-wrapper wrapper-2">
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href="/course-details/80_solo_techniques"><img src="/assets/images/courses/solo.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 25</span> <br>
                                    <span> NGN 10 000</span> </p>
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href="/course-details/80_solo_techniques">80 Solo Techniques in 4 Weeks (Suitable For All Instruments)</a></h4>
                                        
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 Weeks</span></p>
                                                <p class="credit">Lessons: 16</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="/enroll/80_solo_techniques">Apply Now</a>
                                            <a class="more" href="/course-details/80_solo_techniques">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>  
                                                                
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="courses-col">
                            
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href= "#!"><img src="/assets/images/courses/perform.jpg" alt="courses"></a>
                                </div>
                                
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 100</span> <br>
                                    <span> NGN 40 000</span> </p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href= "#!">A Day With The Masters (12 Global Professionals)</a></h4>
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 1 week</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href= "#!"><img src="/assets/images/courses/key.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 100</span> <br>
                                    <span> NGN 40 000</span> </p>
                                    <div class="courses-lock full">  
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href= "#!">500 Plus Chord Voicings For The Aspiring Pianists </a></h4>
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 weeks</span></p>
                                                <p class="credit">Lessons: 10</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href= "#!"><img src="/assets/images/courses/performance.jpeg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 100</span> <br>
                                    <span> NGN 40 000</span> </p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href= "#!">Music Performance Mastery (Staging)</a></h4>
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 2 Weeks</span></p>
                                                <p class="credit">Lessons: 4</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href= "#!"><img src="/assets/images/courses/musc.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 100</span> <br>
                                    <span> NGN 40 000</span> </p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href= "#!">The Depth of Hearing Music (Intense Ear Training)</a></h4>
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 2 Weeks</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href= "#!"><img src="/assets/images/courses/mony.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 100</span> <br>
                                    <span> NGN 40 000</span> </p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href= "#!">Music Business and Music Skills Monetization A-Z</a></h4>
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 2 Weeks</span></p>
                                                <p class="credit">Lessons: 5</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href= "#!"><img src="/assets/images/courses/piano.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 100</span> <br>
                                    <span> NGN 40 000</span> </p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href= "#!">Become An Advanced Solo Jazz Pianist In 10 days</a></h4>
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 Weeks</span></p>
                                                <p class="credit">Lessons: 10</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href= "#!"><img src="/assets/images/courses/sing.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $ 100</span> <br>
                                    <span> NGN 40 000</span> </p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href= "#!">Blues Music From Basic To Super Advance</a></h4>
                                        <a href= "#!" class="category">You Too Can Play Series #1</a>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 3 Weeks</span></p>
                                                <p class="credit">Lessons: 12</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href= "#!">Coming Soon</a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>        
            

            <ul class="pagination-items text-center">
                <li><a class="active" href= "#!">01</a></li>
                <li><a href= "#!">02</a></li>
                <li><a href= "#!">03</a></li>
                <li><a href= "#!">04</a></li>
                <li><a href= "#!">05</a></li>
            </ul>
        </div>
    </section>

    <!--====== Top Course Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->
    
</body>

</html>
