<!doctype html>
<html class="no-js" lang="en">

  <!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" style="background-image: url(assets/images/page-banner.jpg);">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">All Courses</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Top Course Start ======-->
    
    <section class="top-courses-area">
        <div class="container">
            <div class="courses-bar">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="courses-tab">
                            <ul class="nav" role="tablist">
                                <li><a data-toggle="tab" href="#grid" role="tab"><i class="fas fa-th-large"></i></a></li>
                                <li><a class="active" data-toggle="tab" href="#list" role="tab"><i class="fas fa-list"></i></a></li>
                            </ul>
                            <p>Showing 1 - 16 of 36 results</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="courses-bar-form">
                            <div class="courses-select">
                                <select id="selectbox1">
                                    <option value="0">Newly published</option>
                                    <option value="1">published 01</option>
                                    <option value="2">published 02</option>
                                    <option value="3">published 03</option>
                                    <option value="4">published 04</option>
                                    <option value="5">published 05</option>
                                </select>
                            </div>
                            <div class="courses-search">
                                <input type="text" placeholder="Search courses">
                                <i class="far fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>    
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="grid" role="tabpanel">
                    <div class="courses-wrapper wrapper-2">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/solo.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href="#">80 Solo Techniques in 4 Weeks</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 Weeks</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/perform.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #2</a>
                                        <h4 class="courses-title"><a href="#">A Day With The Masters</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/perf.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">#You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href="#">250 Chord Voicings in 250 Mins</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 Weeks</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/performance.jpeg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href="#">Music Performance Mastery </a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/sing.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href="#">The Depth of Hearing Music </a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/courses-10.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #2</a>
                                        <h4 class="courses-title"><a href="#">You Are The Music In Me</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/sing.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #2</a>
                                        <h4 class="courses-title"><a href="#">Principle of Classical Modulation</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/chord.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">#You Too Can Play Series #3</a>
                                        <h4 class="courses-title"><a href="#">Advance Toning and Chord</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/courses-13.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">#You Too Can Play Series #1</a>
                                        <h4 class="courses-title"><a href="#">Basic Musical Terms and Usage</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/courses-14.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #3</a>
                                        <h4 class="courses-title"><a href="#">Music Accelerando and Cresendo</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/courses-15.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">#You Too Can Play Series #3</a>
                                        <h4 class="courses-title"><a href="#">Advance Course on Time Signature</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-3 col-sm-6 courses-col">
                                <div class="single-courses-2 mt-30">
                                    <div class="courses-image">
                                        <a href="#"><img src="assets/images/courses/courses-16.jpg" alt="courses"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="#" class="category">You Too Can Play Series #4</a>
                                        <h4 class="courses-title"><a href="#">Theatrics of Musical Duet</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="fee">Fee: <span> $540</span></p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="courses-lock">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LONG COURSES LIST -->

                <div class="tab-pane fade show active" id="list" role="tabpanel">
                    <div class="courses-wrapper wrapper-2">
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href="course-details"><img src="assets/images/courses/solo.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $540</span></p>

                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href="course-details">80 solo techniques in 4 weeks</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 Weeks</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="course-details">Online Apply</a>
                                            <a class="more" href="course-details">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>  
                                                                
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="courses-col">
                            
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href="#"><img src="assets/images/courses/perform.jpg" alt="courses"></a>
                                </div>
                                
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $540</span></p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href="#">A Day With The Masters (12 Global professionals)</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href="#"><img src="assets/images/courses/perf.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $540</span></p>
                                    <div class="courses-lock full">  
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div>
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href="#">250 chord voicings in 250 mins (The Aspiring Pianist)</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href="#"><img src="assets/images/courses/performance.jpeg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $540</span></p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href="#">Music performance mastery (Staging)</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href="#"><img src="assets/images/courses/chord.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $540</span></p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href="#">The depth of hearing music (Intense ear training)</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        <div class="courses-col">
                            <div class="single-courses-2 courses-list mt-30">
                                <div class="courses-image">
                                    <a href="#"><img src="assets/images/courses/sing.jpg" alt="courses"></a>
                                </div>
                                <div class="courses-content">
                                    <p class="courses-fee">Fee: <span> $540</span></p>
                                    <div class="courses-lock full">
                                    <div class="lock">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    </div> 
                                    <div class="courses-content-wrapper">                                        
                                        <h4 class="courses-title"><a href="#">Theatrics of Musical Duet (Advance Course)</a></h4>
                                        <div class="duration-rating">
                                            <div class="duration-fee">
                                                <p class="duration">Duration: <span> 4 year</span></p>
                                                <p class="credit">Lessons: 8</p>
                                            </div>
                                            <div class="rating">
                                                <span>Rating: </span>
                                                <ul class="star">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="courses-link">
                                            <a class="apply" href="#">Online Apply</a>
                                            <a class="more" href="#">Read more <i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            

            <ul class="pagination-items text-center">
                <li><a class="active" href="#">01</a></li>
                <li><a href="#">02</a></li>
                <li><a href="#">03</a></li>
                <li><a href="#">04</a></li>
                <li><a href="#">05</a></li>
            </ul>
        </div>
    </section>

    <!--====== Top Course Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->
    
</body>

</html>
