<!doctype html>
<html class="no-js" lang="en">

<head>

    <!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>

    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" 
        style="background-image: url(assets/images/bg/login.jpg);
        background-color: #24242475;
        background-blend-mode: overlay;">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Reset Password</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== Login Start ======-->

    <section class="login-register">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-content">
                        <div>
                            <p class="form-message success">
                                <span class="erImg"></span>
                                <span> </span>
                                <span class="erText"><%= errorMsg %></span>
                            </p>
                        </div>

                        <h4 class="title">Reset your password here</h4>

                        <div class="login-register-form">
                            
                            <form action="/reset-password" method="post">
                                <div class="single-form">
                                    <label>Email address *</label>
                                    <input type="email" name="username" autocomplete="" placeholder="Enter your registered email adress" required>
                                </div>
                                <div class="single-form">
                                    <label>New Password *</label>
                                    <input type="password" name="password" placeholder="Password must contain Letter, Number and Symbol" autocomplete="new-password" required>
                                </div>
                                <div class="single-form">
                                    <button class="main-btn btn-block">Reset Password</button>
                                </div>
                                
                                <div class="single-form">
                                    <label>You don't have an account ?</label>
                                    <a href="/register" class="main-btn main-btn-2 btn-block">Create Account Now</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <!--====== Login Ends ======-->
    
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->
    
</body>

</html>
