<!doctype html>
<html class="no-js" lang="en">

<!--====== Head Start ======-->

  <%- include('partials/header') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->
    
    <!--====== Page Banner Start ======-->

    <section class="page-banner">
        <div class="page-banner-bg bg_cover" 
        style="background-image: url(/assets/images/bg/full.jpg);
        background-color: #24242475;
        background-blend-mode: overlay;">
            <div class="container">
                <div class="banner-content text-center">
                    <h2 class="title">Shop</h2>
                </div>
            </div>
        </div>
    </section>

    <!--====== Page Banner Ends ======-->
    
    <!--====== Shop Start ======-->
    
    <section class="shop-area">
        <div class="container">
            <div class="shop-bar">
                <div class="row align-items-end">
                    <div class="col-md-6">
                        <div class="shop-showing">                            
                            <p>Showing 1 - 16 of 36 results</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="shop-bar-form">                           
                            <div class="shop-search">
                                <input type="text" placeholder="Search store for your collections">
                                <i class="far fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>    
            <div class="shop-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-1.jpg" alt=""></a>
                                <span class="discount">-30%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Pen Holder</a></h4>
                                <span class="price">Price: $6.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-2.jpg" alt=""></a>
                                <span class="discount">-25%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Bag</a></h4>
                                <span class="price">Price: $12.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-3.jpg" alt=""></a>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Clip Board</a></h4>
                                <span class="price">Price: $7.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-4.jpg" alt=""></a>
                                <span class="discount">-15%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Stapler Machine</a></h4>
                                <span class="price">Price: $16.00</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-5.jpg" alt=""></a>
                                <span class="discount">-30%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Pen with Box</a></h4>
                                <span class="price">Price: $15.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-6.jpg" alt=""></a>
                                <span class="discount">-25%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Punching machine</a></h4>
                                <span class="price">Price: $8.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-7.jpg" alt=""></a>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Calculator</a></h4>
                                <span class="price">Price: $7.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-8.jpg" alt=""></a>
                                <span class="discount">-15%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Notebook Package</a></h4>
                                <span class="price">Price: $35.00</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-9.jpg" alt=""></a>
                                <span class="discount">-30%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Eraser</a></h4>
                                <span class="price">Price: $6.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-10.jpg" alt=""></a>
                                <span class="discount">-25%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Black Ink</a></h4>
                                <span class="price">Price: $12.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-11.jpg" alt=""></a>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Gel Pen</a></h4>
                                <span class="price">Price: $7.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-library text-center mt-30">
                            <div class="library-image">
                                <a href="product-details.html"><img src="assets/images/product/product-12.jpg" alt=""></a>
                                <span class="discount">-15%</span>
                            </div>
                            <div class="library-content">
                                <h4 class="library-title"><a href="product-details.html">Pen Stand</a></h4>
                                <span class="price">Price: $16.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pagination-items text-center">
                <li><a class="active" href="#">01</a></li>
                <li><a href="#">02</a></li>
                <li><a href="#">03</a></li>
                <li><a href="#">04</a></li>
                <li><a href="#">05</a></li>
            </ul>
        </div>
    </section>

    <!--====== Shop Ends ======-->

   <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->

</body>

</html>
