<!DOCTYPE html>
<html class="no-js" lang="en">

  <!--====== Head Start ======-->

  <%- include('partials/header.ejs') %>

  <!--====== Head Ends ======-->

  <body>
    <!--====== Navigation Start ======-->

    <%- include('partials/navigation') %>

    <!--====== Navigation Ends ======-->

    <!--====== Page Banner Start ======-->

    <section class="page-banner">
      <!-- <div
        class="page-banner-bg bg_cover"
        style="
          background-image: url(assets/images/bg/about.png);
          background-position: bottom;
        "
      > -->
        <!-- <div class="container">
          <div class="banner-content text-center">
            <h2 class="title">About Us</h2>
          </div>
        </div>
      </div> -->
    </section>

    <!--====== Page Banner Ends ======-->

    <!--====== About Us Starts ======-->

    <section id="wel" class="online-library-area">
      <div class="container">
        <div class="row justify-content-center wide">
          <div class="col-md-8">
            <div class="section-title-2 ">
              <h2 class="title text-center" style="font-size: 40px;">Wecome To The Family Of Jazz Masters</h2>
              <span class="line"></span>
              <div >
              <p>
                Great to finally have you here,
              </p>
              <p>
                Choosing to register for the <span style="color: #f23f00;  ">Advance Master Course</span> is one of the best decisions 
                you have made this year. Congratulations !
              </p>
              <p>
                Trust me you are in for an <span style="color: #f23f00;  ">Awesome Ride.</span>
              </p>
              <p>
                Like I said in the webinar, The <span style="color: #f23f00;  ">Advance Master Course</span> will be available for you to 
                access on the <span style="color: #f23f00;  "> 20TH of NOVEMBER, 2021.</span>
                You will be notified once your course is available on the <span style="color: #f23f00;">Private Modern Jazz Facebook Page.</span> 
               </p>
              <p> I and the team are preparing very insightful course for your massive development. 
                <span style="color: #f23f00; "> You will love it.</span>
              </p>
              
                <div class="courses-details-tab">
                 <div class="benefit-content">
                    <h3>DO THE FOLLOWING TO GET UPDATED ON AVAILABILITY OF OUR COURSES:</h3>
                        <ul class="courses-details-list">
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p>Follow us on Instagram. to watch <span style="color: #f23f00;  "></span> Amazing Techniques, Tricks and Hacks. </span> <a target="_blank" href="https://www.facebook.com/modernjazzwithnoels/" class="main-btn">Follow Now </a></p>
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p> Join the <span style="color: #f23f00;  ">Private Modern Jazz Facebook Page</span> by clicking the button <a target="_blank" href="https://www.facebook.com/modernjazzwithnoels/" class="main-btn">Join Here </a> </p>
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p>You can add me as a friend with <span style="color: #f23f00;"> Noels Emmanuel on Facebook.</span> </p>
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                <p> <span style="color: #f23f00;  ">Subscribe to our newsletter</span> to get latest update on top courses and their discounted prices.</p>
                            </li>
                        </ul>

                        <p>That's it friends, lots of knowledge awaits you there.</p>

                        <p><span style="color: #f23f00;  font-weight: 600;"> NOELS EMMANUEL</span></p>
                  </div>
                 </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>

    <!--====== About Us Ends ======-->
    
    <!--====== Footer Starts ======-->
    
    <%- include('partials/footer') %>

    <!--====== Footer Ends ======-->
  </body>
</html>
